include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include ravenpackapi *
recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * .cache
recursive-exclude * *.py[co]
recursive-exclude * *.csv

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
